// Section Переваги.

.section-benefits {
  padding-top: 60px;

  &__index {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }

  &__index {
    @extend %list;
  }
}

// Переваги.

.item-benefits {
  @media screen and(max-width: 1199px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }

  &__benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    fill: currentColor;
    background-color: var(--background-color-sekondary);
    border-radius: 4px;
  }

  &__subtext {
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__implication {
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
  }
}

