// Logo WEBStudio.
.logo {
    margin-right: 93px;
    font-weight: 700;
    font-family: var(--font-family-sekondary);
    font-size: 26px;
    line-height: 1.9;
    text-decoration: none;
    color: var(--color-logo);


& &__logotype-web {
    color: var(--accent-color);
}

&__logotype-studio--inverse {
    color: var(--color-white);
}
}

// Логотип соцмереж команди.
.logotype {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 206px;
    height: 44px;
    gap: 10px;

&__social-team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 44px;
    gap: 16px;
}
&__social-team {
    @extend %list;
}
&__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--background-color-social);
    background-color: var(--color-white);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__social-link:hover {
    fill: var(--color-white);
    background-color: var(--accent-color);
}
}

// Логотипи компаній постійних кліентів.
.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

& {
    @extend %list;
}

&__customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    fill: var(--background-color-social);
    background-color: var(--color-white);
    border: 1px solid var(--background-color-social);
    border-radius: 4px;
    transition: background-color-social 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__customers-link:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}
}
