.mobile-menu {
  position: fixed;
  min-height: 100%;
  flex-direction: column;
  height: 796px;
  top: 0;
  left: 0;
  display: none;
  max-width: 480px;
  
  width: 100%;
  
  background-color: var(--color-white);
  padding: 48px 40px;
  z-index: 1;

  &.is-open {
    display: block;
  }
  &__close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    color: var(--primary-text-color);
    background-color: inherit;
  }
}
.mobile-list {
  margin-bottom: 285px;
  & {
    @extend %list;
  }

  &__nav-mob &__mobi-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 72px;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--text-color);
  }

  &__nav-mob &__mobi-link:hover,
  &__nav-mob &__mobi-link:focus {
    color: var(--accent-color);
  }
}

.cont-list {
  & {
    @extend %list;
  }

  &__item-mobile {
    display: block;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color);
  }
  &__item-mail {
    display: block;
    padding-bottom: 64px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--text-color);
  }
}

.soc-list {
  display: flex;
   align-items: center;
    margin: 0 auto;


  & {
    @extend %list;
  }

  &__mobi-soc {
   
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent-color);
  }

  &__line {
   
    width: 22px;
    height: 0px;
    margin: 0 10px;
    border-right: 1px solid var(--border-color-modal);
  
  }
 }
