// Footer.
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  background-color: var(--background-color-primary);

  &__page-footer {
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (max-width: 479px) {
      max-width: 100%;
    }

    @media screen and (max-width: 767px) {
      display: block;
      flex-direction: column;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 768px;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      flex-wrap: nowrap;
      max-width: 1200px;
    }
  }

  &__address {
    display: block;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: 768px) {
      margin-right: 165px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
      text-align: left;
    }
  }
}

// Footer-contacts.
.communications {
  @extend %list;

  & &__items {
    margin-top: 20px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
    color: var(--color-white);
  }

  & &__items:hover,
  & &__items:focus {
    color: var(--accent-color);
  }

  & &__items-contact {
    margin-top: 8px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.17;
    text-decoration: none;
    color: var(--color-text-contact);

    @media screen and (min-width: 1200px) {
      margin-top: 9px;
    }
  }

  & &__items-contact:hover,
  & &__items-contact:focus {
    color: var(--accent-color);
  }
}
