
:root {
--primary-text-color: #212121;
--color-white: #ffffff;
--text-color: #757575;
--accent-color: #2196f3;
--background-color-primary: #2f303a;
--background-color: #f5f5f5;
--background-color-sekondary: #f5f4fa;
--color-logo: #000000;
--background-color-button: #188ce8;
--font-family-primary: Roboto;
--font-family-sekondary: Raleway;
--color-text-contact: rgba(255, 255, 255, 0.6);
--background-color-social: #afb1b8;
--border-color-header: #ececec;
--border-color-portfolio: #eeeeee;
--background-color-modal: rgba(0, 0, 0, 0.2);
--background-color-modal-btn: rgba(0, 0, 0, 0.1);
--background-color-card: rgba(33, 150, 243, 0.9);
--background-color-applications: rgba(47, 48, 58, 0.8);
--border-color-modal: rgba(33, 33, 33, 0.2);
--color-text-coment: rgba(117, 117, 117, 0.5);
--color-bord-subscription: rgba(255, 255, 255, 0.3);
}
